/*  */
* {
  font-family: corbel, helvetica, sans-serif;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  /* list-style-image: url("../images/world.png"); */
}
a {
  text-decoration: none;
}
/* EX02: CSS SELECTOR CLASS ID */
/* Chỉ có thẻ p với class là text20 mới ăn */
/* p[class="text20"] {
  color: blue;
} */
/* p.text20 {
  color: blue;
} */
/* Tất cả tag với class là text20 */
/* .text20 {
  color: blue;
} */

#page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: pink;
}

/* EX03: BASE CONTENT BASIC DEMO */
.parent-text10lh {
  height: 60px;
  background-color: blue;
}
.text10lh {
  line-height: 60px;
  color: #fcccba;
}
.demo-background-prop {
  border: 1px solid red;
  background-color: orange;
  background-image: url(../images/cupcake.png); /*313x365*/

  background-size: 100px 100px;
  /* background-size: cover; */

  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  background-repeat: no-repeat;

  background-position: center center;
  /* background-position: right bottom; */

  /* Làm hiệu ứng cuộn background */
  /* background-attachment: fixed; */
}
/* EX05: BORDER PADDING MARGIN */
#page-header {
  height: 66px;
  background-color: #2b2b2b;
  position: fixed;
  width: 100%;
}
.wrapper {
  width: 88%;
  height: 100%;
  margin: 0 auto;
}
#page-header .page-logo {
  float: left;
  line-height: 66px;
}
#page-header .navigation {
  float: right;
  margin: 0;
}
#page-header .navigation a {
  display: inline-block;
  line-height: 66px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
#page-header .navigation a:hover {
  font-size: 18px;
  font-style: italic;
  color: red;
}
#page-main {
  padding-top: 66px;
}
#page-header .navigation li {
  float: left;
  margin-left: 44px;
}
.props-section {
  margin-bottom: 50px;
  padding: 0;
  margin-bottom: 30px;
}
.props-section::after {
  content: "";
  display: block;
  clear: both;
}
.props-title {
  background-color: #abe200;
  border: 1px solid #add0ad;
  float: left;
  margin-right: 50px;
  /* display: inline-block;
  overflow: hidden; */
}
.props-title p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 100px;
}
.props-detail {
  border: 1px solid #add0ad;
  float: left;
  /* display: inline-block;
  overflow: hidden; */
}
.props-detail p {
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  line-height: 20px;
}
/* ex06 css position */
.demo-position-relative {
  position: relative;
}
.pos-rel-1 {
  position: relative;
}
.pos-rel-2 {
  position: relative; /*left, right, bottom, top*/
  left: 70px;
  bottom: 80px;

  /* absolute with it's parent(pos:relative), if parent is not relative --> absolute with html tag */
  position: absolute;
  top: 20px;
  z-index: -1;
}
.search-box {
  margin-top: 14px;
}
.search-box label {
  position: relative;
  left: 26px;
  top: 2px;
}
.search-box input[type="text"] {
  height: 38px;
  padding-left: 23px;
}
