.text-green {
	color: green;
}
.text-blue {
	color: blue;
}
.text-orange {
	color: orange;
}
.text-bold {
	font-weight: 700;
}
.text-underline {
	text-decoration: underline;
}
.text-line-through {
	text-decoration: line-through;
}
.text-overline {
	text-decoration: overline;
}
.text-deco-none {
	text-decoration: none;
}
.text-center {
	text-align: center;
}
.block-md200 {
	width: 200px;
	height: 200px;
}
.bgr-orange {
	background: orange;
}
/*Text alignment*/


/*Block*/

.block-w2h1 {
	width: 200px;
	height: 100px;
}

.block-w3h2 {
	width: 300px;
	height: 200px;
}
.bgr-green {
	background: green;
}
.bgr-blue {
	background: blue;
}

.clear-fix{
	clear: left;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

/* == Border style */

.border-1-blue {
	border: 1px solid blue;
}