/*=======UTILS=======*/
.wrapper {
	width: 88%;
	height: 100%;
	margin: 0 auto;
}

.text-white, .text-white * {
	color: #fff;
}

.upper-case {
	text-transform: uppercase;
}

/*=======PAGE HEADER=======*/

#page-header {
	height: 66px;
	background: #111;

	width: 100%;
	position: absolute;
	top: 0; /*optional*/
	left: 0; /*optional*/
	opacity: 0.8;
}

#page-header .page-logo {
	float: left;

	line-height: 66px;
}

#page-header .page-navigation {
	float: right;
}

#page-header .page-navigation li {
	float: left;
	margin-left: 32px;
	line-height: 66px;
}

#page-header .page-navigation a:hover {
	color: #B1343A;
}

/*=======PAGE MAIN=======*/
#page-main .banner {
	background-image: url(../images/banner.png);
	background-size: cover;
	height: 860px;
}

#page-main .banner .content {
	text-align: center;
	padding-top: 100px;
}

#page-main .banner .content .title {
	font-size: 4rem;
}

#page-main .banner .content .slogan {
	opacity: 0.8;
	font-size: 2rem;
	margin: 40px 0 60px 0;
}

#page-main .banner .content .learn-more {
	font-size: 1.2rem;
	padding: 20px 20px;
	background: #B1343A;
	border-radius: 10px;
	border: 1px solid #111;
}

#page-main .banner .content .learn-more:hover {
	opacity: 0.8;
}

#page-main .articles {
	padding: 100px 0;

	background: linear-gradient(
		95deg,  
		#4c4c4c 0%,
		#595959 12%,
		#666666 25%,
		#474747 39%,
		#2c2c2c 50%,
		#000000 51%,
		#111111 60%,
		#2b2b2b 76%,
		#1c1c1c 91%,
		#131313 100%);
}

#page-main .articles::after {
	content: '';
	display: block;
	clear: left;
}

#page-main .articles .article {
	float: left;
	width: 50%;
}

#page-main .articles .article .title {
	font-size: 1.75rem;
}

#page-main .articles .article .title::after {
	content: '';
	display: block;
	height: 2px;
	width: 36px;
	background: #C10000;
	margin-top: 30px;
	margin-bottom: 30px;
}

#page-main .articles .article .sub-desc {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.2;
}

#page-main .articles .article [class^=content] {
	font-size: 1.2rem;
	line-height: 1.4;
}

#page-main .articles .article .content-1 {
	margin-top: 40px;
	margin-bottom: 60px;
}


#page-main .articles .article:first-child {
	padding-right: 80px;
}

#page-main .articles .article:last-child {
	padding-left: 80px;
	color: #4c4c4c;
}

/*=======PAGE FOOTER=======*/
#page-footer {
	background: #111;
	padding-top: 30px;
	padding-bottom: 20px;
}

#page-footer::after {
	content: '';
	display: block;
	clear: left;
}

#page-footer .footer-group-col {
	width: 25%;
	float: left;
}

#page-footer .footer-group-col .title {
	color: #fff;
	opacity: 0.9;
	text-transform: uppercase;
}

#page-footer .footer-group-col .title::after {
	content: '';
	display: block;
	height: 1px;
	width: 86%;
	background: #fff;
	opacity: 0.8;
	margin-top: 22px;
	margin-bottom: 14px;
}

#page-footer .footer-group-col ul li a {
	color: #fff;
	opacity: 0.8;
	line-height: 1.6;
}

#page-footer .footer-group-col ul li a:hover {
	opacity: 1;
}

#page-footer .footer-group-col ul.social-items li {
	display: inline-block;

	width: 44px;
	height: 44px;

	margin: 16px 8px 0 0;
	
	border-radius: 50%;
	text-align: center;
	line-height: 44px;

	background: #000;
}

#page-footer .footer-group-col ul.social-items li:hover {
	background: #fff;
	opacity: 0.8;
}

#page-footer .footer-group-col ul.social-items li a:hover {
	color: #B1343A;
}

#page-footer .footer-group-col .copyright {
	color: #fff;
	opacity: 0.8;
	margin-top: 50px;
}

