<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Coffe & Cake</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="reset.css" />
    </head>
    <body>
        <a href="../../home/index.html">Back to main page</a>
        <h1>Sweets</h1>
        <div class="image-wrapper">
            <img src="../../../images/candies.jpg" alt="" />
        </div>
        <p>
            Sweets are a confectionary delight enjoyed by both kids and adults
            alike. But only handcrafted sweets can reveal the true potential of
            childhood’s favorite edibles. Precisely for this reason we’ve
            dedicated heaps of hours of our delicious time to perfect the
            perfect sweet – one that would fully satisfy even the pickiest of
            epicurean senses.
        </p>
        <br />
        <p>
            At our candy store you can find candy for any occasion or mood. For
            traditionalist – we have caramels and chocolates, and for the more
            adventurous types – we have sweet and sour, salty, and even spicy.
        </p>
    </body>
</html>
