/* CSS SELECTOR CLASS ID */
/* Chỉ có thẻ p với class là text20 mới ăn */
/* p[class="text20"] {
  color: blue;
} */
/* p.text20 {
  color: blue;
} */
/* Tất cả tag với class là text20 */
/* .text20 {
  color: blue;
} */

#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: ;
  background-color: pink;
}
