.text-green {
  color: green;
}
.text-blue {
  color: blue;
}
.text-orange {
  color: orange;
}
.text-bold {
  font-weight: bold;
}
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-overline {
  text-decoration: overline;
}
.text-decor-none {
  text-decoration: none;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
